body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

h1 {
  color: #228B22;
}

#blinking-text {
  color: #228B22;
  font-weight: bold;
  visibility: hidden; /* Initially hidden until button is clicked */
}